#flex-container {
  border: 20px solid black;
  padding: 50px;
   

}
#flex-item {
  box-shadow: 5px 10px 8px #888888;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
    gap: 50px;
  
}

.flex-item {
  background-color: rgb(128, 0, 38);
  color: white;
  text-align: center;
  
  
}

.flex-item img {
border-radius: 20px;
  max-width: 300px;
  max-height: 300px;
}
h1,h2,h3,h4 {
  display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 22pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    align-items: center;
    padding-top: 40px;  
}
body {
  background-color: rgb(246, 250, 194);
}
p{
  display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 22pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    align-items: center;
    padding-top: 40px; 
    
}

